<%- include("includes/head.ejs") %>
<body>
    <h1>Welcome to my page 1+2</h1>
    <h3>
        <%= 3*5 %>
        <%= [1,2,4,5,6,8,9][4 ] %>
        <%= "apnacollege".toUpperCase() %>
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam asperiores cumque facilis molestias, inventore, cum officia commodi aperiam veritatis iusto accusamus eos. Cupiditate facilis ipsam obcaecati, fuga distinctio quasi dolores.</p>
    <button>click me</button>
</body>
</html>